{% extends 'showcase/base1.html' %}

{% block content %}
	<br>
	<div class="w3-row-padding"> 
	{% if category_list %}
		{% for cat in category_list %}
		<div class="w3-col s12 m6 l4 w3-card w3-padding w3-margin-bottom w3-white">
			
			<div class="">
				<a style="text-decoration: none;" href="{% url 'showcase:category_list' cat.name %}" ><img src="{{ cat.featured_image.url }}", alt="{{ cat.name }}", style="width: 100%; height:70%;">
				</a>
				<hr><div class="w3-padding-left w3-padding-right  ">
					<h4> {{ cat.name|title }} </h4>
					{{ cat.description }}
				</div>
			</div>
			
		</div>
		{% if forloop.counter|divisibleby:6 or forloop.last %}	
	</div>
		{% endif %}
		{% endfor %}
	{% else %}
		<div class="w3-panel w3-white w3-center">
			<h3>No Item In Yet...</h3>
		</div>
	{% endif %}
{% endblock %}